@page "{id:int}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TecPurisima.School.WebSite.Pages.Teacher.Delete

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h2>Delete Product Category</h2>
            <form method="post">
                <input type="hidden" asp-for="Teacher.Id"/>
                <div class="form-group">
                    <label asp-for="Teacher.FullName"></label>
                    <input readonly asp-for="Teacher.FullName" class="form-control" maxlength="45"/>
                </div>

                <div class="form-group">
                    <label asp-for="Teacher.Email"></label>
                    <input readonly asp-for="Teacher.Email" class="form-control" maxlength="45"/>
                </div>

                <div class="form-group">
                    <label asp-for="Teacher.Age"></label>
                    <input readonly asp-for="Teacher.Age" class="form-control" maxlength="45"/>
                </div>

                <div class="form-group">
                    <label asp-for="Teacher.CURP" ></label>
                    <input readonly asp-for="Teacher.CURP" class="form-control" maxlength="45"/>
                </div>

                <div class="form-group">
                    <label asp-for="Teacher.Gender" ></label>
                    <input readonly asp-for="Teacher.Gender" class="form-control" maxlength="45"/>
                </div>
                
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-danger mr-3">Delete</button>
                        <a class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-1"></div>

    </div>
</div>