@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TecPurisima.School.WebSite.Pages.Grade.List

<div class="container-fluid">
    <form method="get">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <br/>
                <button id = "btnSearch" class="btn btn-primary mr-3">Search</button>
                <a asp-area="" asp-page="/Grade/Add"
                   class="btn btn-info" role="button">
                    <i class="fas fa-plus-circle me-2"></i>Add
                </a>
            </div>
        </div>
    </form>
    
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table">
                <tr>
                    <th>Grade School</th>
                    <th></th>
                </tr>
                @foreach (var grade in @Model.Grades)
                {
                    <tr>
                        <td>@grade.SchoolGrade</td>
                        
                        <td>
                            <a asp-area="" asp-page="/Grade/Edit" asp-route-id="@grade.Id"
                               class="btn btn-primary" role="button">Edit</a>
                            <a asp-area="" asp-page="/Grade/Delete" asp-route-id="@grade.Id"
                               class="btn btn-danger" role="button">Delete</a>
                            
                            
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>