@page
@model TecPurisima.School.WebSite.Pages.Subject_Grade.Add

<div class="container-fluid">
    <div class="rom">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h2>Add</h2>
            <form method="post">
                <input type="hidden" asp-for="Subject_Grade.Id"/>
                <div class="form-group">
                    <label asp-for="Subject_Grade.GradeId" ></label>
                    <input asp-for="Subject_Grade.GradeId" class="form-control" maxlength="45"/>
                    <span class="text-danger" asp-validation-for="Subject_Grade.GradeId"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Subject_Grade.SubjectId" ></label>
                    <input asp-for="Subject_Grade.SubjectId" class="form-control" maxlength="45"/>
                    <span class="text-danger" asp-validation-for="Subject_Grade.SubjectId"></span>
                </div>
                
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-primary mr-3">Save</button>
                        <a class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
       

    </div>
</div>